<p>
	Title:
	<%= @article.title %>
</p>

<p>
	Text:
	<%= @article.text %>
</p>

<% if @article.comments.any? %>
	<h2>Comments</h2>
	<% @article.comments.each do |comment| %>
		<p>Comment: <%= comment.body %></p>
		<p>Written by: <%= comment.commenter %></p>
	 <% end %>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@article, @article.comments.build]) do |f|%>
	<p>
		<%= f.label :commenter %><br>
		<%= f.text_field :commenter %>
	</p>

	<p>
		<%= f.label :body %><br>
		<%= f.text_field :body %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<%end%>

<%= link_to 'Back', articles_path %>
<%= link_to 'Edit', edit_article_path(@article) %>
